:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: auto;
  margin: 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.bcnav {
  background-color: #fcfbfc;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow: none;
}

.icon {
  cursor: pointer;
  color: black;
  text-decoration: none;
  vertical-align: middle;
  align-items: center;
}

.navicon {
  margin-left: 40px;
}

.btn {
}

.a {
  text-decoration: none;
}

/* .card {
  border: 0.2em solid black;
  border-radius: 8px;
  width: "100px";
} */

.actionButton {
  text-decoration: none;
  background-color: #0f6fc3;

  border-radius: 8px;
  padding: 20px;
  color: white;
}

.content {
  padding: 15px;
}

.formbox {
  border: 0.2em solid #f1f1f1;
  border-radius: 8px;
}

.forminput {
  padding: 10px;
}

.biketitle {
  color: rgb(0, 0, 0);
}

.bikecard {
  filter: saturate(0.9);
}

.bikeImageDiv {
  border: 0.2em solid #f1f1f1;
  padding: 5px;
  border-radius: 8px;
  margin: 10px;
}
